@import "vars";
@import "libs";
@import "fonts";




// =========== Bloks =============
@import "bloks/header";
@import "bloks/menu";
@import "bloks/previous";
@import "bloks/features";
@import "bloks/camera";
@import "bloks/project";
@import "bloks/client";
@import "bloks/contact";
@import "bloks/footer";
@import "bloks/preloader"; 
@import "bloks/info";
@import "bloks/form";
@import "bloks/portfolio";
// =========== Bloks =============





*, 
:after,
:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
button {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
}
body {
    min-width: 320px;
    overflow-x: hidden;
}
ul {
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.btn__inner {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    .btn {
        font-size: 17px;
        font-weight: 700;
        color: #fff;
        background-color: #88b5d3;
        border: none;
        padding: 14px 24px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        transition: all .3s linear;
        &:hover {
            background-color: #fff;
            color: #88b5d3;
        }
    }
}

.button {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
    color: #71b6d5;
    text-decoration: none;
    border: 2px solid #71b6d5;
    padding: 10px 12px;
    border-radius: 7px;
    transition: all .2s linear;
    &:hover {
        background-color: #71b6d5;
        color: #fff;
    }
}


.subscribe {
    display: flex;
    margin-top: 15px;
    &__input {
        padding: 12px;
        background-color: #172227;
        border-radius: 5px 0 0 5px;
        border: none;
        outline: none;
        &:fucus {
            outline: none;
            background-color: #25373f;
        }
    }
    &__btn {
        font-size: 14px;
        color: #fff;
        border: none;
        background-color: #71b6d5;
        padding: 12px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        outline: none;
    }
}





@import "media";